.section-footer .footer {
  background: #2c4a73;
  color: #fff; }
  .section-footer .footer .social-info .info-ico,
  .section-footer .footer .social-info .social-ico,
  .section-footer .footer .social-info .info-txt {
    padding: 10px 0;
    margin: 0; }
  .section-footer .footer .social-info .info-ico {
    max-width: 150px; }

.section-footer .info-ico {
  max-width: 110px; }

.section-footer .footer-info {
  display: flex;
  justify-content: space-between;
  padding: 110px 0; }

.section-footer .icon {
  display: inline-block;
  font-size: 21px;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: top;
  width: 1.5rem;
  color: #fff;
  transition: all 0.5s; }
  .section-footer .icon:hover {
    color: #fff;
    opacity: 0.8; }
  .section-footer .icon .fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    line-height: inherit; }

.section-footer .footer-bg-img {
  margin-bottom: -1px; }
