.section-pricing {
  background-image: url(../../assets/images/tech-pattern.png);
  background-attachment: fixed;
  background-position: 50% 0px;
  margin-bottom: 60px;
  padding-bottom: 100px; }
  .section-pricing .section-title {
    margin-bottom: 50px;
    padding-top: 80px; }
  .section-pricing .pricing-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .section-pricing .pricing-wrap .item-title {
      color: #2c4a73;
      font-family: "Nexa Bold", sans-serif; }
    .section-pricing .pricing-wrap .card-item {
      text-align: center;
      border-radius: 15px 15px 0 15px;
      padding: 20px;
      transition: all 0.3s;
      margin: 20px 10px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 400px; }
      .section-pricing .pricing-wrap .card-item:hover {
        transform: translateY(-20px);
        transition: all 0.3s; }
        .section-pricing .pricing-wrap .card-item:hover .border-ico {
          box-shadow: inset 0 0 0 1px rgba(143, 160, 241, 0.2), 0 10px 20px rgba(213, 220, 247, 0.59);
          opacity: 0.95; }
    .section-pricing .pricing-wrap .social-businesses {
      display: flex;
      flex-direction: inherit;
      height: auto;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .section-pricing .pricing-wrap .social-businesses {
          width: 100%;
          flex-direction: column;
          height: 400px; } }
      .section-pricing .pricing-wrap .social-businesses .item-title {
        max-width: 185px; }
      .section-pricing .pricing-wrap .social-businesses .info-box {
        max-width: 485px; }
      .section-pricing .pricing-wrap .social-businesses .img-ico {
        margin: 0 20px; }
    .section-pricing .pricing-wrap .border-ico {
      position: relative;
      padding: 50px;
      max-width: 50px;
      border: 1px solid #ededed;
      border-radius: 50px;
      transition: all 0.5s;
      margin: auto; }
    .section-pricing .pricing-wrap .info-box {
      font-size: 14px; }
    .section-pricing .pricing-wrap .second-line {
      max-width: 485px; }
      @media only screen and (max-width: 767px) {
        .section-pricing .pricing-wrap .second-line {
          max-width: inherit; } }
  .section-pricing .im {
    position: absolute;
    top: 18px;
    left: 27px;
    font-size: 45px; }
